body {
    margin: 0;
    background: #0d0d0d;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper {
    width: 900px;
    display: flex;
    gap: 40px;
}

.login-box,
.register-box {
    flex: 1;
    background: #111;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #222;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 26px;
}

.input-group {
    margin-bottom: 20px;
}

.full-btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
}
